---
layout: default
title: Jing's Project Website
subtitle: "Design: Creation of Artifacts in Society"
---
<section class="main">
  <div class="gap">
    <span class="text-wrap"><a href="{{ site.baseurl }}/my-gap.html"><h1>My Gap</h1></a></span>
  </div>
  <div class="tabs-wrapper">
    <input type="radio" name="tab" id="tab1" class="tab-head red" checked="checked"/>
    <label for="tab1"><span class="hide">Week </span>1</label>
    <input type="radio" name="tab" id="tab2" class="tab-head orange" />
    <label for="tab2"><span class="hide">Week </span>2</label>
    <input type="radio" name="tab" id="tab3" class="tab-head yellow" />
    <label for="tab3"><span class="hide">Week </span>3</label>
    <input type="radio" name="tab" id="tab4" class="tab-head green" />
    <label for="tab4"><span class="hide">Week </span>4</label>
    <input type="radio" name="tab" id="tab5" class="tab-head blue" />
    <label for="tab5"><span class="hide">Week </span>5</label>
    <input type="radio" name="tab" id="tab6" class="tab-head indigo" />
    <label for="tab6"><span class="hide">Week </span>6</label>
    <input type="radio" name="tab" id="tab7" class="tab-head violet" />
    <label for="tab7"><span class="hide">Week </span>7</label>
    <input type="radio" name="tab" id="tab8" class="tab-head brown" />
    <label for="tab8"><span class="hide">Week </span>8</label>
    <div class="tab-body-wrapper">
      <div id="tab-body-1" class="tab-body red">
        <h3><a href="{{ site.baseurl }}/week-1.html">Week 1</a></h3>
        <ul>
          {% for post in site.categories.week-1 reversed %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="tab-body-2" class="tab-body orange">
        <h3><a href="{{ site.baseurl }}/week-2.html">Week 2</a></h3>
        <ul>
          {% for post in site.categories.week-2 reversed %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="tab-body-3" class="tab-body yellow">
        <h3><a href="{{ site.baseurl }}/week-2.html">Week 3</a></h3>
        <ul>
          {% for post in site.categories.week-3 reversed %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="tab-body-4" class="tab-body green">
        <p>Coming soon.</p>
      </div>
      <div id="tab-body-5" class="tab-body blue">
        <p>Coming soon.</p>
      </div>
      <div id="tab-body-6" class="tab-body indigo">
        <p>Coming soon.</p>
      </div>
      <div id="tab-body-7" class="tab-body violet">
        <p>Coming soon.</p>
      </div>
      <div id="tab-body-8" class="tab-body brown">
        <p>Coming soon.</p>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <h3>So why does this page look so bare?</h3>
  <p>When I saw that the requirement for this project was to create a website, I decided to code one up from scratch to hone my web development chops. As the weeks go by, I plan to continue to work on the styling of this website along with the main assignments of the course as well.</p>
  <p>If you have any suggestions, feel free to add your comments on my post on the Coursera discussion forum <a href="https://class.coursera.org/design-004/forum/thread?thread_id=21#post-627">here</a>.</p>
</section>