// Set breakpoints.
@mixin bp($point) {
  @if $point == xlarge {
    @media (min-width: 1700px) {
      @content;
    }
  }
  @else if $point == large {
   @media (min-width: 900px) {
      @content;
    }
  }
  @else if $point == med {
   @media (min-width: 600px) {
      @content;
    }
  }
  @else if $point == small {
   @media (min-width: 290px) {
      @content;
    }
  }
}

// Animations.
@mixin keyframe ($animation_name) {
  @keyframes $animation_name {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards;
}