.gap {
  text-align: center;
}

.text-wrap {
  display: inline-block;
  font-size: 150%;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  @include text-shadow(3px 3px 0 $red, 6px 6px 0 $orange, 9px 9px 0 $yellow, 12px 12px 0 $green);
  a {
    color: $black;
  }
}