body {
  font-family: $font-body;
}

h1 {
  font-family: $font-header;
}

h2 {
  font-family: $font-header;
}

h3 {
  font-family: $font-header;
}

h4 {}

h5 {}

h6 {}

p {}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    font-size: 110%;
  }
}

ul {
  list-style: none outside none;
  padding: 0;
}

strong {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}